@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* font-family: 'Poppins', sans-serif; */
:root{
	--bg-header: hsl(193, 100%, 96%);
	--btn-header: hsl(0, 0%, 100%);
	--text-color: hsl(192, 100%, 9%);
	--footer-text-color: hsla(0, 0%, 100%, 100%); /*Not right yet*/
	--light-shadow: hsla(0, 0%, 0%, 10%);
	--dark-shadow: hsla(0, 0%, 0%, 20%);
	--btn-section: hsl(322, 100%, 66%);
	--bg-footer: hsl(192, 100%, 9%);
	--text-footer: hsl(193, 100%, 96%);
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: var(--text-color);
	max-width: 375px;
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
header {
	background: var(--bg-header) url(./images/bg-hero-mobile.svg) top no-repeat;
	display: flex;
	flex-direction: column;
	/*nav, then intro*/
}
.logo {
	height: 18px;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	padding: 2rem 1rem 5rem;
}
.btn {
	font-size: 12px;
	padding: 0.5em 2em;
	text-decoration-line: none;
	border-radius: 100px;
	font-weight: 700;
}
.btn-narrow {
	color: var(--text-color);
	background: var(--btn-header);
	box-shadow: 3px 3px 9px var(--light-shadow);
}
.btn-wide {
	background: var(--btn-section);
	color: var(--btn-header);
	padding: 1em 5em;
}
.intro {
	display: flex;
	flex-direction: column;
	padding: 0 2.2rem 2rem;
}
.intro-message {
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0 0 3rem;
}
.intro-message > h2 {
	margin: 0 0 1.5rem 0; /*add space below each element*/
} 
.intro-message > p {
	margin: 0 0 2.5rem 0;
}
.intro-graphic {
	max-width: 100%;
	object-fit: contain;
	justify-self: end; /*make graphic align with right edge of page, does not work with 100% width*/
}
section {
	position: relative;
	/*For positioning of .outset*/
}
.features {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 4rem 1rem 15rem;
	/*area around cards*/
}
.feature {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	box-shadow: 0 0 15px var(--light-shadow);
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
	padding: 4rem 2rem 1rem;
}
.message h2 {
	margin: 4rem 0 0rem;
}
.message p {
	opacity: 50%;
}
.graphic {
	width: 85%;
}
.outset {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 350px;
	background: var(--btn-header);
	box-shadow: 0 0 15px var(--light-shadow);
	border-radius: 15px;
	padding: 2.5em 0;
	position: absolute;
	left: 50%;
	margin-left: -175px;
	bottom: -100px;
}
.outset h2 {
	font-size: 18px;
}
footer {
	padding: 160px 8% 50px;
	background: var(--bg-footer);
	color: var(--text-footer);
}
.footer-content {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	align-items: start;
}
footer img {
	/* background: white; */
	/* filter: grayscale(100%); */
	filter: brightness(0%) saturate(100%) invert(99%) sepia(44%) saturate(1038%) hue-rotate(173deg) brightness(101%) contrast(103%);
}
.contact {
	padding-top: 0;
	margin: 0;
}
.mail {
	list-style-image: url(./images/icon-location.svg);
}
.phone {
	list-style-image: url(./images/icon-phone.svg);
}
.email {
	list-style-image: url(./images/icon-email.svg);
}
.contact li {
	padding: 0.7em;
}

.links {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-auto-flow: column dense;
}
.links a {
	text-decoration-line: none;
	color: var(--text-footer);
	padding: 1em 1em;
}
.social a {
	text-decoration-line: none;
	color: var(--text-footer);
	padding: 427px 0.5em 0 0;
}
.social ion-icon {
	padding: 7px;
	border: 1px solid var(--text-footer);
	border-radius: 25px;
}
.copy {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 11px;
}
